<h1>Changer le mot de passe</h1>
<form action="" method="post">
	<table>
	<tr>
		<td><label>Nom d'utilisateur : </label></td><td><input name="champLogin" id="champLogin" type="text" [(ngModel)]="pseudo"></td>
	</tr>
	<tr>
		<td><label>Nouveau mot de passe : </label></td><td><input name="champPassword" id="champPassword" type="password" [(ngModel)]="mdp"></td>
	</tr>
    <tr>
		<td><label>Confirmer le nouveau mot de passe : </label></td><td><input name="champPasswordConf" id="champPasswordConf" type="password" [(ngModel)]="mdp_conf"></td>
	</tr>
	</table>
	<hr class="solid">
	<input name="boutonEnvoyer" id="boutonEnvoyer" type="submit" (click)="check()" value="Changer">
</form>
<footer *ngIf="error_msg != ''">{{error_msg}}</footer>
