<h1>Ecrire un post</h1>
<form>
    <table>
            <tr><td><label>Titre : </label></td><td><input name="titre" id="champ_id" type="text" [(ngModel)]="titre"></td></tr>
            <tr><td><label>Contenu : </label></td><td><textarea name="contenu" cols="40" rows="5" [(ngModel)]="contenu"></textarea></td></tr>
        <tr>
            <td><input name="boutonVérifier" id="boutonVérifier" type="submit" (click)="send()" value="Publier"></td>
        </tr>
    </table>
</form> 
<footer *ngIf="error_msg != ''">{{error_msg}}</footer>