* {
    font-family: Helvetica;
}
h1 {
    background-color: aqua;
    box-shadow: 10px 5px 5px black;
    padding: 10px;
    border-radius: 25px;
}

input[type="submit"] {
    background-color: aqua;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}

input[type="submit"]:active {
    background-color: darkcyan;
    border: solid 2px black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}

form {
    padding: 30px;
}

label:hover {
    background-color: aquamarine;
    border-radius: 5px;
}

footer {
    color: red;
    font-style: bold;
    text-align: center;
    font-size: 20px;
    background-color: lightcoral;
    border-radius: 5px;
}