<h1>Créer un nouveau compte</h1>
<form action="" method="post">
	<table>
    <tr>
        <td><label>Nom d'utilisateur : </label></td><td><input name="champLogin" id="champLogin" type="text" [(ngModel)]="pseudo"></td>
    </tr>
	<tr>
        <td><label>Email : </label></td><td><input name="champEmail" id="champEmail" type="email" [(ngModel)]="email"></td>
    </tr>
	<tr>
		<td><label>Mot de passe : </label></td><td><input name="champPassword" id="champPassword" type="password" [(ngModel)]="mdp"></td>
	</tr>
    <tr>
		<td><label>Confirmer le mot de passe : </label></td><td><input name="champPasswordConf" id="champPasswordConf" type="password" [(ngModel)]="mdp_conf"></td>
	</tr>
	</table>
	<hr class="solid">
	<input name="boutonEnvoyer" id="boutonEnvoyer" type="submit" (click)="check()" value="Créer">
</form>
<footer *ngIf="error_msg != ''">{{error_msg}}</footer>
