<h1>Formulaire Login</h1>
<form action="" method="post">
	<table>
	<tr>
		<td><label>Nom d'utilisateur : </label></td><td><input name="champLogin" id="champLogin" type="text" [(ngModel)]="pseudo"></td>
	</tr>
	<tr>
		<td><label>Mdp : </label></td><td><input name="champPassword" id="champPassword" type="password" [(ngModel)]="mdp"></td>
	</tr>
	</table>
	<hr class="solid">
	<div class="buttons">
	<input name="boutonEnvoyer" id="boutonEnvoyer" type="submit" (click)="check()" value="Se connecter">
	<button routerLink="/creer-compte">Créer un nouveau compte</button>
	<button routerLink="/changer-mdp">Mot de passe oublié ?</button>
	</div>
</form>
<footer *ngIf="error_msg != ''">{{error_msg}}</footer>
