<h1>Fil d'actualité</h1>
<div class="corps">
    <div id="volet">
        <div class="en-tete">
            <h2>Amis</h2>
            <button class="petitbouton" routerLink="/ajouter-ami">+</button>
        </div>
        <div *ngFor="let ami of this.amis">
            <label>{{ami.pseudo}}</label>
        </div>
    </div>
    <div class="posts">
    <div class="en-tete">
        <h2>Posts</h2>
        <button class="grosbouton" routerLink="/post">>> Ecrire un nouveau post</button>
    </div>
    <div *ngFor="let post of this.posts">
        <table>
            <tr><td><h2>{{post.titre}}</h2></td></tr>
            <tr><td class="sous_titre">par <span class="info">{{post.pseudo}}</span> le <span class="info">{{post.estampille}}</span></td></tr>
            <hr class="solid">
            <tr><td>{{post.contenu}}</td></tr>
        </table>
    </div>
    </div>
</div>

